body {
    background-color: #222;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

canvas {
    background-color: #4caf50;
    border: 4px solid white;
}

.hidden {
    display: none;
}

#battleBox {
    margin-top: 20px;
    background: #333;
    padding: 10px;
}
